<div class="region_item">
    <h1 class="name"><%= region.name%></h1>
    <p class="description"><%= region.description%></p>
    <%= link_to "Visit", region%>
    <ul class="places">
        <%region.places.last(5).each do |p|%>
            <li><%=render p%></li>
        <%end%>
    </ul>
</div>
